<h2>Model verification job status</h2>
<div id='wrapper'>
<p>Hello <%= @user.displayName %> ! </p>
<p>model verification job results go here</p>
<hr>
<%= render partial: "job_status", collection: @jobs_for_this_user, as: :item %>


