<div class="col" id="left">
	<div id="text-2" class="widget widget_text">			
		<div class="textwidget">
			<h3>About</h3>
		  <p>This site allows users to define and run linear regression models against synthetic data.</p>
		  <p>The models can also be submitted for verification against the real data.</p>
		</div>
	</div>                        
</div><!--! end of .col #left -->
<div class="col" id="center">
	<div id="text-3" class="widget widget_text">			
		<div class="textwidget">
			<h3>Data analysis</h3>
		  <p> <a href='/containers'>Create a model</a> against synthetic data</p>
		</div>
		<div class="textwidget">
			<h3>Model verification status</h3>
		  <p><a href='/verify_jobs'>View</a> model verification results</p>
		</div>
		
	</div>                        
</div><!--! end of .col #center -->

			