<div class="col" id="left">
	<div id="text-2" class="widget widget_text">			
		<div class="textwidget">
			<h3>About Synthetic</h3>
		  <p>This site allows authorized users to run linear regression models against synthetic data</p>
		</div>
	</div>                        
</div><!--! end of .col #left -->
